.topnav {
  background-color: rgb(99, 99, 78);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.hover {
  background-color: #ddd;
  color: blanchedalmond;
}
.topnav a.active {
  background-color: beige;
  color: white;
}
.cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .cover .masking {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
  }
  .cover .credit {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .cover .social a {
    color: beige;
  }
  
footer {
  font-family: 'sans-serif';
  background-color: beige;
  color: beige;
}