* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 16px;
}

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E7E6E1;
  display: flex;
}

.nav-item {
  position: left;
}
.nav-link {
  display: block;
  padding: 20px 15px;
  margin: 0;
  color: #314E52;
  text-decoration: none;
}

.nav-link:after {
  content: "";
  display: none;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #11698E;
}
.nav-link.active, .nav-link:hover {
  color: #11698E;
}
.nav-link.active:after, .nav-link:hover:after {
  display: block;
}

.cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .cover .masking {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
  }
  .cover .credit {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .cover .social a {
    color: beige;
  }
  